:root {
    --play-area-size: 500px;
}

.play-area {
    display: grid;
    background: rgb(253, 221, 114);
    grid-template-columns: repeat(10, 1fr);
    border: solid 5px black;
    width: var(--play-area-size);
    height: var(--play-area-size);
    margin: 50px auto;
    position: relative;
}

.start-button {
    z-index: 100;
    position: absolute;
    width: 150px;
    top: calc((var(--play-area-size) / 2) - 25px);
    left: calc((var(--play-area-size) / 2) - 75px);
    background: blue;
    color: white;
    border: solid 3px black;
    font-size: 25px;
    padding: 10px;
}

.start-button:hover {
    cursor: pointer;
    background: black;
}

.start-button.active {
    display: none;
}

.pixel {
    margin: 0;
}

.fruit {
    background-image: url(assets/apple.png);
    background-size: cover;
}

.head {
    background-image: url(assets/snake_head_up.png);
    background-size: cover;
}
.head.right {
    background-image: url(assets/snake_head_right.png);
}
.head.left {
    background-image: url(assets/snake_head_left.png);
}
.head.down {
    background-image: url(assets/snake_head_down.png);
}

.body {
    background-image: url(assets/snake_body.png);
    background-size: cover;
}
.body.right,
.body.left {
    transform: rotate(90deg);
}

.tail {
    background-image: url(assets/snake_tail.png);
    background-size: cover;
}
.tail.right {
    transform: rotate(90deg);
}
.tail.left {
    background-image: url(assets/snake_tail_inverse.png);
    transform: rotate(-90deg);
}
.tail.down {
    background-image: url(assets/snake_tail_inverse.png);
    transform: rotate(180deg);
}

.corner-oiio,
.corner-iioo,
.corner-ooii,
.corner-iooi {
    background-image: url(assets/snake_corner_iioo.png);
    background-size: cover;
}
.corner-oiio {
    background-image: url(assets/snake_corner_oiio.png);
}
.corner-ooii {
    background-image: url(assets/snake_corner_ooii.png);
}
.corner-iooi {
    background-image: url(assets/snake_corner_iooi.png);
}
